<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Welcome</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<!--link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/-->
		<link rel="stylesheet" href="{$url_base}public/css/login.css" />
		<!-- integration de javascript dans le moteur de rendu de vue Smarty -->
		{literal}
			<script language=javascript>
			function load_design() {
			   document.getElementById("design_js").style.color = "#40007d";
			}

			</script>
		{/literal}
	</head>
	<body onload="load_design()">
	
    <header>
        <div class="brand">Sign In</div>
    </header>
    <div class="div_form">
        <form action="{$url_base}User/handleUser"  method="post">
            <select name="type" id="type_employe">
                <option value="">...</option>
                <option value="responsable">Responsable Compte</option>
                <option value="administrateur">Administrateur</option>
                <option value="caissiere">Caissiere</option>
            </select><br>
            <input class="input" type="text" name="login" id="login" autocomplete="off" placeholder="entrer votre login"/><br>
            <input class="input" type="password" name="password" id="pwd" placeholder="entrer votre mot de passe"/><br>
            <button type="submit" name="btn" value="connex" >CONNEXION</button> <button type="reset" id="annuler">ANNULER</button>
        </form>    
    </div>



    <script src="{$url_base}public/js/login.js" type="text/javascript"></script>

	</body>
</html>
